<div
  class="site-social-links-footer fixed flex flex-col bottom-0 items-center justify-center mb-5 pb-24 right-3.5 hidden md:block">
  <a class="social-link mb-1 leading-10 flex justify-center items-center h-11 w-11 rounded-full invisible"
    href="https://www.youtube.com/channel/UCAQ_qW6iR2BojA25aDwZ7ow" aria-label="Youtube" target="_blank" rel="noopener
      noreferrer">
  </a>
  <a class="social-link mb-1 leading-10 flex justify-center items-center h-11 w-11 rounded-full"
    href="https://www.facebook.com/bestinjohn" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
    <IconFacebook />
  </a>
  <a class="social-link mb-1 leading-10 flex justify-center items-center h-11 w-11 rounded-full"
    href="https://github.com/bestii" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
    <IconGithub />
  </a>
  <a class="social-link mb-1 leading-10 flex justify-center items-center h-11 w-11 rounded-full"
    href="https://www.instagram.com/iambestin/" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
    <IconInstagram />
  </a>
  <a class="social-link mb-1 leading-10 flex justify-center items-center h-11 w-11 rounded-full"
    href="https://twitter.com/_bestinjohn" aria-label="Twitter" target="_blank" rel="noopener noreferrer">
    <IconTwitter />
  </a>
  <a class="social-link mb-1 leading-10 flex justify-center items-center h-11 w-11 rounded-full"
    href="https://www.linkedin.com/in/bestin-john/" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer">
    <IconLinkedin />
  </a>
  <span class="social-links-line absolute bottom-0 h-20 left-2/4" aria-hidden="true"></span>
</div>
