h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-family: inherit;
}

.container {
  @apply mx-auto;
  @apply my-0;
  @apply px-4;
}

@media (min-width: 1260px) {
  .container {
    max-width: 71.25rem;
  }
}

/* Horizontal style below Headings */
.line-horizontal {
  height: 2px;
}
.line--horizontal {
  height: 2px;
}
.line--heading {
  width: 9.375rem;
  left: -3.75rem;
}
.line-heading {
  width: 9.375rem;
  left: -3.75rem;
  @apply relative;
  @apply my-4;
}

.line {
  background-color: var(--color-primary);
}

.bg-shadow {
  opacity: 0.9;
  background-color: var(--border-color);
}

.form-group {
  @apply mb-4;
  @apply relative;
}

.form-field {
  @apply w-full;
  @apply rounded;
  @apply border-0;
  @apply leading-6;
  @apply text-black;
  padding: 0.375rem 0.75rem;
  background-clip: padding-box;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

input.form-field {
  height: 3.4375rem;
}

.button {
  @apply border-0;
  @apply text-center;
  @apply select-none;
  @apply align-middle;
}

.button-default,
.button-secondary,
.button-link {
  height: 2.75rem;
  border-radius: 0.125rem;
  position: relative;
}

.button-default,
.button-secondary {
  padding: 0 1.25rem;
}

.button-default {
  background-color: var(--color-primary);
}

.button-text {
  color: black;
  @apply font-semibold;
}
