$prefix: settings-menu;

.#{$prefix} {
  .feather {
    position: relative;
    top: 0;
    cursor: pointer;
    padding: 7px;
    background-color: var(--bg-secondary);
    border: 2px solid var(--border-color);
    margin: 0;
    border-radius: 5px;
    transition: all 0.1s ease;
    &.preferred {
      border-color: var(--color-primary);
      top: -3px;
    }
  }
}
