$prefix: go-to-top;

.#{$prefix} {
  bottom: 35px;
  right: 15px;
  background-color: transparent;
  border-color: var(--color-primary);

  @media (min-width: theme('screens.md')) {
    bottom: 20px;
    right: 75px;
  }
  .back-to-top-btn {
    border-color: var(--color-primary);
    .back-to-top-icon {
      color: var(--color-primary);
    }
  }
}
