.about-header-p {
  color: var(--color-secondary);
  max-width: 17.5rem;
  font-size: 1rem;
}
.img-bg {
    background-color: var(--border-color);
    margin-left: 0;
    margin-right: auto;
    width: 80%;
    left: 0;
    top: 3.75rem;
    bottom: -3.75rem;
}
.portrait-img {
  margin-left: 4rem;
  margin-right: 0;
  width: 80%;
  box-shadow: -7px 14px 32px rgb(0 0 0 / 25%), -10px 10px 20px rgb(0 0 0 / 22%);
}
.dash-list {
  color: var(--color-secondary);
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875rem;
  flex:1 1 50%;
}
.dash-list-item {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1.875rem;
}
.dash-list-dash {
  background-color: var(--color-primary);
    position: absolute;
    height: 2px;
    width: 1.25rem;
    left: 0;
    top: 0.625rem;
}
.skill-bar-title {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.skill-bar-bg {
  background-color: #1D263D;
  width: 100%;
  height: 0.4375rem;
  border-radius: 0.4375rem;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.skill-bar-amount {
  background-color: var(--color-primary);
}

.skill-bar-amount {
  height: 100%;
  border-radius: 0.4375rem;
}

.bar-90{
  width:90%;
}
.bar-80 {
  width: 80%;
}
.bar-95 {
  width: 95%;
}

@include md{
  .about-me-content {
    flex: 1 1 50%;
  }

  .about-me-img {
    flex: 1 1 45%;
    margin-right: 5%;
  }
}