.contact-header-p {
  color: var(--color-secondary);
  max-width: 17.5rem;
}
.contact-icon {
  fill: var(--color);
}
@include md {
  .contact-details {
    flex: 1 1 33.5%
  }

  .contact-form {
    flex: 1 1 66.5%;
  }

  .form-name {
    margin-right: 10%;
  }

  .form-name,
  .form-email {
    flex: 1 1 45%;
  }
}