.settingsMenu {
  transform: translateX(15rem);
  transition: transform 0.2s ease-in-out;
}

.open {
  transform: translateX(0);
}

.settingsToggle {
  background-color: var(--border-color);
  padding: 0.625rem;
  box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.settingsToggle svg {
  fill: var(--color);
}

.settingsMenuOptions {
  background-color: var(--border-color);
}

/* Optionally move these to ThemeOptions.module.css if reused */
.feather {
  position: relative;
  top: 0;
  cursor: pointer;
  padding: 7px;
  background-color: var(--bg-secondary);
  border: 2px solid var(--border-color);
  border-radius: 5px;
  transition: all 0.1s ease;
}

.feather:hover {
  top: -3px;
}

.feather.preferred {
  border-color: var(--color-primary);
  top: -3px;
}

.feather.selected {
  color: var(--color-primary);
}
